@import '../../config/_variables'

.banner
    position: relative
    width: 100%
    height: auto
    .banner__content
        width: 100%
        height: 100vh
        background: radial-gradient(75.74% 75.74% at 50% 75.74%, #243940 0%, #000000 100%)
        display: flex
        justify-content: center
        overflow: hidden
        @media #{$sm}
            height: 100vh
        .bg-profile
            position: absolute
            width: 100%
            height: 100vh
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.8%, #214f6895 98.67%)
            z-index: 1
            @media #{$sm}
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.8%, #214f68d6 98.67%)
        #img-profile
            position: absolute
            bottom: 0
            img
                width: 85vh
                @media #{$lg}
                    width: 85vh
                @media #{$sm}
                    width: 86vh
        .txt
            position: relative
            width: 100%
            height: 100vh
            z-index: 2
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding-top: 40vh
            color: white
            @media #{$lg}
                padding-top: 40vh
            h3
                position: relative
                top: 23px
                @media #{$lg}
                    top: 35px
                @media #{$sm}
                    top: 10px
            h1
                background: linear-gradient(90deg, #FFFFFF 0%, #71AAFF 100%)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                background-clip: text
                text-fill-color: transparent
                letter-spacing: -.2vw
                font-weight: 700
                @media #{$sm}
                    letter-spacing: -.6vw
            p
                position: relative
                top: -20px
                font-weight: 400
                text-align: center
                strong
                    font-weight: 500
                @media #{$lg}
                    top: -30px
                @media #{$sm}
                    top: -10px
            .logos
                position: relative
                width: 100%
                height: auto
                display: flex
                justify-content: center
                a
                    width: 50px
                    margin: 0px 5px
                    @media #{$lg}
                        width: 60px
                    @media #{$sm}
                        width: 40px
                    img
                        width: 100%
                        max-width: 50px
                        @media #{$lg}
                            max-width: 70px
                        @media #{$sm}
                            max-width: 40px

